<loader ng-if="!band"></loader>

 <div class="container">
    <h1>Band details</h1>
  	<hr>
    <!-- left column -->
    <div class="col-md-3">
      <div class="text-center">
        <img src="{{band.logo}}" class="avatar img-circle" style="width: 150px;" alt="avatar">
      </div>
    </div>

    <!-- edit form column -->
    <div class="col-md-8 personal-info">
      <h3>{{band.band_name}}</h3>
      <h6>From {{band.details['country of origin']}}</h3>
    </div>
</div>

<hr>

<div class="container container-medium">
  <dl class="row">
   <dt class="col-sm-3">Genre</dt>
   <dd class="col-sm-9">{{band.details.genre}}</dd>

   <dt class="col-sm-3">Theme</dt>
   <dd class="col-sm-9">{{band.details['lyrical themes']}}</dd>

   <dt class="col-sm-3">Activity</dt>
   <dd class="col-sm-9">{{band.details['years active']}}</dd>
  </dl>
</div>

<hr>

<ul id="tabs" class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" ng-class="{'active': !displayBio}" ng-click="displayBio = false">Discography</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" ng-class="{'active': displayBio}" ng-click="displayBio = true">Bio</a>
  </li>
</ul>

<table class="table table-hover" ng-if="!displayBio">
  <thead>
    <tr>
      <th>Year</th>
      <th>Title</th>
      <th>Type</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="album in band.discography">
      <td>{{album.year}}</td>
      <td class="clickable" go-to-state="album-detail" with-id="{{album.id}}">{{album.title}}</td>
      <td>{{album.type}}</td>
    </tr>
  </tbody>
</table>

<div id="bio">
  <blockquote class="container" ng-if="displayBio">
    {{band.bio}}
  </div>
</div>
